[submodule "backend"]
	path = backend
	url = https://github.com/dahyorr/file-hash-generator-backend.git
[submodule "worker"]
	path = worker
	url = https://github.com/dahyorr/file-hash-generator-worker.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/dahyorr/file-hash-generator-frontend.git
